@import '~@angular/material/theming';
@include mat-core();

$header-primary-palette: (
    50: #ffffff,
    100: rgb(116, 108, 189),
    200: rgb(127, 179, 238),
    300: rgb(55, 62, 124),
    400: #1F3D7B,
    500: rgb(175, 199, 247),
    600: #4072b4,
    700: #38649d,
    800: #305687,
    900: #284770,
    A100: #ffffff,
    A200: #dde6f3,
    A400: #6992c9,
    A700: #38649d,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: white,
    )
);


$custom-primary: mat-palette($header-primary-palette);
$custom-accent:  mat-palette($mat-pink);

$custom-theme: mat-light-theme($custom-primary, $custom-accent);

@include angular-material-theme($custom-theme);