<mat-sidenav-container>
  <div class="wrapper">
    <div class="toolbar">
      <mat-toolbar color="primary">
        <!--LOGO TELA PEQUENA  - ALINHADO A ESQUERDA -->
        <span routerLink="" class="branding spacer d-inline d-sm-none center">
          <img src="../assets/logo.png" class="logo"/>
        </span>
        <!--LOGO TELA MEDIA - ALINHADO A ESQUERDA-->
        <span routerLink="" class="branding spacer d-none d-sm-inline d-md-none center">
          <img src="../assets/logo.png" class="logo"/>
        </span>
        <!--LOGO TELA GRANDE - ALINHADO A ESQUERDA-->
        <span routerLink="" class="branding spacer d-none d-md-inline center">
          <img src="../assets/logo.png" class="logo"/>
        </span>
      </mat-toolbar>
    </div>
  </div>
</mat-sidenav-container>